@font-face {
    font-family: "Quicksand";
    src: url("../fonts/Quicksand-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

/* @font-face {
    font-family: "Quicksand";
    src: url("../fonts/Quicksand-Regular.ttf");
    font-weight: thin;
    font-style: normal;
} */

@font-face {
    font-family: "Quicksand";
    src: url("../fonts/Quicksand-SemiBold.ttf");
    font-weight: bold;
    font-style: normal;
}